Repository openshift/cloud-credential-operator, pull requests merged in 2022-06, with the labels that each got.

#469 Bug 2093986: Make pod identity webhook comply to restricted pod security level
  bindata/v4.1.0/aws-pod-identity-webhook/deployment.yaml
  pkg/assets/v410_00_assets/bindata.go
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-urgent

#468 doc(aws-sts): add alternative to host OIDC configuration in a private bucket using CloudFront
  docs/ccoctl.md
  docs/sts-oidc-bucket-policy.json.tpl
  docs/sts-oidc-cloudfront.json.tpl
  docs/sts-private-bucket.md
  docs/sts.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#465 [Issue #452] Improving documentation
  docs/gcp_workload_identity.md
  docs/sts.md
Labels: approved, lgtm, docs-approved, qe-approved, px-approved

#472 Bug 2101880: manifests/00-namespace: Set empty openshift.io/run-level
  manifests/00-namespace.yaml
Labels: approved, lgtm, bugzilla/valid-bug, bugzilla/severity-high
